<div>
    <!--<h3>{{myname|reversepipe|uppercase}}</h3>
    <h3 class={{res|result}}>Passed</h3>
    <h3>{{stud|json}}</h3>
    <button (click)="getResult()">Result</button>
    <h3>Name:{{stud.name}}</h3>
    <h3>Id:{{stud.id}}</h3>
    <h3>Marks:{{stud.marks}}</h3>
    <h3 class={{res|result}}>Result:{{res}}</h3>

    <h3>{{mobileNum|maskmobilenum}}</h3>-->
    <h3>{{nums|even}}</h3>
    <h3>{{nums|evenimpure}}</h3>
    <button (click)="pushNumber()">Push</button>
    <button (click)="addNumbersImmutable()">Add</button>

</div>
