.btn1{
    height: 50px;
    width:110px;
    border-style: double;
    border-radius: 25px;
    background-color:rgb(229, 190, 153);
}
.btn2{
    height: 50px;
    width:110px;
    border-style: double;
    border-radius: 25px;
    background-color:rgb(217, 243, 147);
}
body{
    background-color:rgb(172, 206, 241);
}
input{
    width:100px;
    padding: 5px;
    border: 1px solid #2d78ceec;
    font-size: 10px;
}
table{
    background-color:rgb(188, 214, 176);
}

input:valid{
    border: 2px solid #0740fa;
}
input:invalid{
    border: 2px solid rgb(173, 39, 39);
}

