<div>
    <div class="btn btn-primary" (click)="setChoice('home')">Home</div>
    <div class="btn btn-primary" (click)="setChoice('about')">About</div>
    <div class="btn btn-primary" (click)="setChoice('contact')">Contact</div>

    <!--<div [ngSwitch]="choice">
        <p *ngSwitchCase="'home'">This is Home Page</p>
        <p *ngSwitchCase="'about'">3 BHK</p>
        <p *ngSwitchCase="'contact'">Mail here</p>
        <p *ngSwitchDefault>"select any option"</p>
    </div>-->

    @switch(choice){
        @case('home'){<p>This is home page</p>}
        @case('about'){<p>This is about page</p>}
        @case('contact'){<p>This is contact page</p>}
        @default{<p>select any <option value=""></option></p>}
    }
</div>
