<div>
    <h1>Built-In pipes</h1>
    <h2>{{myname|uppercase}}</h2>
    <h2>{{course|titlecase}}</h2>
    <h2>{{today}}</h2>
    <h2>{{today|date:'dd-MM-yyyy'}}</h2>
    <h2>{{today|date:'fullDate'}}</h2>
    <h2>{{today|date:'short'}}</h2>
    <h2>{{today|date:'mediumTime'}}</h2>
    <h2>{{today|date:'yyyy MM dd, hh:mm a'}}</h2>
    <h3>{{cost|currency:'JPY'}}</h3>
    <h3>{{discount|percent}}</h3>
    <h3>{{emp|json}}</h3>
    <h3>{{names|slice:0:3}}</h3>
    <h3>{{gender|i18nSelect:genderMap}}</h3>
    <h3>{{count|i18nPlural:msgMap}}</h3>
</div>
