<div class="container mt-4">
    <div class="card mb-3">
        <div class="card-header bg-primary text-white">
            <h3>Add Employee</h3>
        </div>
        <div class="card-body">
            <form [formGroup]="empform" (ngSubmit)="update()">

                <div class="mb-3">
                    <label class="form-label">Employee Id</label>
                    <input class="form-control" formControlName="eid">
                </div>
                <div class="mb-3">
                    <label class="form-label">Employee Name</label>
                    <input type="text" class="form-control" formControlName="ename">
                    @if(empform.controls['ename']?.touched && empform.controls['ename']?.invalid){
                        <div class="text-danger">
                            @if(empform.controls['ename'].errors?.['required']){name required}
                            @if(empform.controls['ename'].errors?.['min']){name must be min of 3 characters}
                        </div>
                    }

                </div>
                <div class="mb-3">
                    <label class="form-label">Designation</label>
                    <input type="text" class="form-control" formControlName="desg">
                    @if(empform.controls['desg']?.touched){
                        <div class="text-danger">
                            @if(empform.controls['desg'].errors?.['required']){designation is required}
                        </div>
                    }

                </div>
                <div class="mb-3">
                    <label class="form-label">Email</label>
                    <input type="email" class="form-control" formControlName="email">
                    @if(empform.controls['email']?.touched && empform.controls['email']?.invalid){
                        <div class="text-danger">
                            @if(empform.controls['email'].errors?.['required']){email is required}
                            @if(empform.controls['email'].errors?.['pattern']){mail must follow given pattern}
                        </div>
                    }

                </div>
                <div class="mb-3">
                    <label class="form-label">Mobile</label>
                    <input type="text" class="form-control" formControlName="mobile">
                    @if(empform.controls['mobile']?.touched && empform.controls['mobile']?.invalid){
                        <div class="text-danger">
                            @if(empform.controls['mobile'].errors?.['required']){mobile number is required}
                            @if(empform.controls['mobile'].errors?.['pattern']){enter proper mobile number}
                        </div>
                    }

                </div>
                <div class="mb-3">
                    <label class="form-label">Salary</label>
                    <input type="number" class="form-control" formControlName="salary">
                    @if(empform.controls['salary']?.touched && empform.controls['salary']?.invalid){
                        <div class="text-danger">
                            @if(empform.controls['salary'].errors?.['required']){salary is required}
                            @if(empform.controls['salary'].errors?.['min']){salary must be more than 1000}
                        </div>
                    }

                </div>
                <div class="mb-3">
                    <label class="form-label">Department</label>
                    <input type="text" class="form-control" formControlName="dept">
                    @if(empform.controls['dept']?.touched){
                        <div class="text-danger">
                            @if(empform.controls['dept'].errors?.['required']){dept is required}
                        </div>
                    }

                </div>
                <button  class="btn btn-primary" type="submit">Update</button>
            </form>
        </div>
    </div>
</div>
