<p>ngcalculator works!</p>
<div>
    <div>
        <label for="num1">First Number</label>
        <input type="number" id="num1" name="num1" [(ngModel)]="num1">
    </div>
    <div>
        <label for="num1">First Number</label>
        <input type="number" id="num2" name="num2" [(ngModel)]="num2">
        <div class="btn btn-primary" (click)="calc('add')">Add</div>
        <div class="btn btn-primary" (click)="calc('sub')">Sub</div>
        <div class="btn btn-primary" (click)="calc('mul')">Mul</div>
        <div class="btn btn-primary" (click)="calc('div')">Div</div>
    </div>
     @switch(op){
        @case('add'){<h3>Addition:{{res}}</h3>}
        @case('sub'){<h3>Subtraction:{{res}}</h3>}
        @case('mul'){<h3>Multiplication:{{res}}</h3>}
        @case('div'){<h3>Division:{{res}}</h3>}
        @default {<h3>select an option</h3>}
     }
</div>