<p>login works!</p><div>
    <form>
        <div>
            <label class="form-label" for="uname">UserName</label>
            <input type="text" id="uname" name="uname" [(ngModel)]="uname" required>
        </div>
        <div>
            <label class="form-label" for="upwd">Password</label>
            <input type="text" id="upwd" name="upwd" [(ngModel)]="upwd" required>
        </div>
        <div>
            <button [disabled]="!(uname&&upwd)"
            [ngStyle]="{'background-color':(uname&&upwd)?'blue':'red','color':'white'}" (click)="login()">Login</button>

            <p [ngClass]="{'ok':status==='success','notok':status==='failed'}"></p>
            </div>
     

    </form>
</div>